body {
  background-color: #00b4de;
  display: flex;
  justify-content: center;
  padding: 20px;
  text-align: center;
}

p {
  font-size: 18px;
  color: #344a53;
}

button {
  background-color: #344a53;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 5px;
}
